
    .img--logo {
      @include centered-img;
      @include space-around($margin-top: 35px, $margin-bottom: 35px);
      @include set-width(55%);
    }

    .nav {
      text-align: center;
      & [href="#type"]{
        color: $white-txt;
      }

      @include media("medium"){
        @include flex-box;
        @include space-around($margin-top: 45px);
      }
    }

    .nav__item {
      @include set-width(100%);
      @include space-around($margin-bottom: 5px);
      @include space-inside($padding-top: 1em, $padding-bottom: 1em);
      @include smooth-edges;
      @include block;
      font-size: 105%;
      & a {
        @include remove-underline;
        color: $gray;
      }
      &:first-of-type {
        background-color: $color-green;
      }

      @include media("medium"){
        @include space-inside($padding-right: 1em, $padding-left: 1em);
      }
    }
